body {
    background-color: black;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

button {
    background-color: rgb(43,43,43);
    border: none;
    padding: 10px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(50,50,50);
}

input {
    background-color: rgb(44,44,44);
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: rgb(203,203,203);
    font-size: 16px;
    text-align: center;
    width: 140px;
}

#container-left-bar {
    position: fixed;
    background-color: rgb(35,35,35);
    padding-top: 50px;
    width: 60px;
    height: 100%;
    top: 0px;
    left: 0px;
}

#container-iterations {
    position: fixed;
    left: 50px;
    top: 0px;
    width: calc(100% - 50px);
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color:  rgb(35,35,35);
    padding-top: 15px;
    z-index: 0;
}



#small-text {
    font-size: 20px;
    color: rgb(203,203,203);
}

#iterations {
    width: 250px;
    color: rgb(203,203,203);
}


#defaultCanvas0 {
    cursor: crosshair;
}

/* TOOLTIP */

.tooltip {
    position: relative;
    margin-top: 5px;
    margin-left: 5px;
    background-color:rgb(43,43,43);
    padding: 5px;
    color: rgb(195,195,195);
    font-size: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.tooltip:hover {
    background-color: rgb(66,66,66);
}

.tooltiptext {
    position: relative;
    font-size: 20px;
    background-color: lightgrey;
    z-index: 4;
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 3;
    top: -5px;
    left: 105%;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}


.noStyleLink {
	text-decoration: none;
}

.noStyleLink:link {
	color: black;
}

.noStyleLink:visited {
	color: black;
}

.noStyleLink:hover {
	color: black;
}

.noStyleLink:active {
	color: black;
}

/* Advanced Settings Options */

#settings-dark-background {
    background-color: rgba(0,0,0,.3);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 0;
}



#info-content {
    background-color: white;
    font-size: 18px;
    height: 80%;
    left: 50%;
    max-height: 500px;
    max-width: 600px;
    min-width: 250px;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}


#info-close {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    color: black;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 50px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#info-close:hover {
    background-color: #ccc;
}


/* Info Options */


#info-dark-background {
    background-color: rgba(0,0,0,.3);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#info-content {
    background-color: white;
    font-size: 18px;
    height: 80%;
    left: 50%;
    max-height: 500px;
    max-width: 600px;
    min-width: 250px;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#info-close {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 50px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

#info-close:hover {
    background-color: #ccc;
}